{% extends "mail/layout.html" %}

{% block body %}
{% load static %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <h3></h3>
    <div class="" role="alert" id="message">
    </div>
    <div id="emails-view">
    </div>

    <form id="compose-form">
        <div class="form-group">
            From: <input disabled class="form-control" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control" required>
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject" required>
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body" required></textarea>
        <input type="submit" class="btn btn-primary"/>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            // Use buttons to toggle between views
            document.querySelector('#inbox').addEventListener('click', () => load_mailbox('inbox'));
            document.querySelector('#sent').addEventListener('click', () => load_mailbox('sent'));
            document.querySelector('#archived').addEventListener('click', () => load_mailbox('archive'));
            document.querySelector('#compose').addEventListener('click', compose_email);
          
            // By default, load the inbox
            load_mailbox('inbox');
          });
          
          function compose_email() {
          
            // Show compose view and hide other views
            document.querySelector('h3').innerHTML = "New Email";
          
            document.querySelector('#emails-view').style.display = 'none';
            document.querySelector('form').style.display = 'block';
          
            // Clear out composition fields
            document.querySelector('#compose-recipients').value = '';
            document.querySelector('#compose-subject').value = '';
            document.querySelector('#compose-body').value = '';
          }
          
          function load_mailbox(mailbox) {
          
            // Show the mailbox and hide other views
          
            const emails_view = document.querySelector('#emails-view');
            emails_view.style.display = 'block';
            document.querySelector('form').style.display = 'none';
          
            // Show the mailbox name
            document.querySelector('h3').innerHTML = `${mailbox.charAt(0).toUpperCase() + mailbox.slice(1)}`;
            fetch(`/emails/${mailbox}`)
              .then(response => response.json())
              .then(emails => {
                if (emails.length == 0) {
                  emails_view.innerHTML = '';
                } else {
                  emails_view.innerHTML = '';
                  emails.forEach(email => {
                    const div_element = document.createElement('div');
                    if (email.read) {
                      div_element.className = `alert alert-dark`;
                    } else {
                      div_element.className = `alert alert-light`;
                    }
                    div_element.style = "border:solid grey 1px";
                    const element = `<h4 class="alert-heading" style="color:black">${email.subject}</h4>
                    <p style="color:black">${email.sender}</p>
                    <hr>
                    <p class="mb-0" style="color:black">${email.timestamp}</p>`;
                    div_element.innerHTML = element;
                    div_element.addEventListener('click', () => detail(email.id, mailbox));
                    emails_view.append(div_element);
                  });
                }
              })
          }
          
          function detail(id, mailbox) {
            fetch(`/emails/${id}`)
              .then(response => response.json())
              .then(details => {
                const emails_view = document.querySelector('#emails-view');
                emails_view.innerHTML = '';
                document.querySelector('h3').innerHTML = '';
                const mail = document.createElement('div');
                mail.className = 'jumbotron';
                const text = `<h3>Subject : ${details.subject}</h3>
              <p class="lead"><b>Body : ${details.body}</b></p>
              <hr class="my-4">
              <p><b>Sender : ${details.sender}</b></p>
              <p><b>Recipients : ${details.recipients}</b></p>
              <p><b>Timestamp : ${details.timestamp}</b></p>`;
                mail.innerHTML = text;
                emails_view.append(mail);
                const button = document.createElement('button');
                if (details.archived) {
                  button.className = 'btn btn-danger';
                  button.innerHTML = 'Unarchive';
                } else {
                  button.className = 'btn btn-primary';
                  button.innerHTML = 'Archive';
                }
                button.addEventListener('click', () => {
                  archive(id, details.archived);
                  window.location.reload();
                });
                if (mailbox != "sent") {
                  emails_view.appendChild(button);
                }
                const reply = document.createElement('button');
                reply.className = 'btn btn-info ml-4';
                reply.innerHTML = 'Reply';
                reply.addEventListener('click', () => replybutton(details.sender, details.subject, details.body, details.timestamp));
                emails_view.appendChild(reply);
                fetch(`/emails/${id}`, {
                  method: 'PUT',
                  body: JSON.stringify({
                    read: true
                  })
                })
              })
              .catch(error => {
                console.log(error);
              })
          }
          
          function archive(id, value) {
            fetch(`/emails/${id}`, {
              method: "PUT",
              body: JSON.stringify({
                archived: !value
              })
            });
          }
          
          function replybutton(recipient, subject, body, timestamp){
            compose_email();
            document.querySelector('#compose-recipients').value = recipient;
            document.querySelector('#compose-subject').value = `Re: ${subject}`;
            if (subject.split(" ")[0] == "Re:") {
              document.querySelector('#compose-subject').value = `${subject}`;
            }
            document.querySelector('#compose-body').value = `${timestamp} ${recipient} wrote: ${body}`;
          }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.querySelector('form');
            form.onsubmit = function (event) {
                event.preventDefault();
                const recipients = document.querySelector('#compose-recipients').value;
                const subject = document.querySelector('#compose-subject').value;
                const body = document.querySelector('#compose-body').value;
                fetch('/emails', {
                    method: 'POST',
                    body: JSON.stringify({
                        recipients: recipients,
                        subject: subject,
                        body: body
                    })
                })
                .then(response => response.json())
                .then(result => {
                    const message = document.querySelector('#message');
                    if(result.message == "Email sent successfully."){
                        message.className = '';
                        message.style.display = 'none';
                        message.innerHTML = '';
                        load_mailbox('sent');
                    } else{
                        message.className = 'alert alert-danger';
                        message.style.display = 'block';
                        message.innerHTML = `${result.error}`;
                    }
                });
            }
        });
    </script>
{% endblock %}